
@{
    ViewBag.Title = "Index";
}

<h2>hello, everybody</h2>

<p>
    <a href="/home/upload">上传</a>
</p>

<p>
    <a href="/home/uploadifyUpload">通过uploadify上传</a>
</p>

<p>
    <a href="@Url.Action("index", "WebUploader2")">通过WebUploader上传,可以上传大文件10G，支持断点续传</a>
</p>

