
@{
    ViewBag.Title = "UploadifyUpload";
}

<h2>UploadifyUpload</h2>

<div>
    <%--用来作为文件队列区域--%>
    <div id="fileQueue">
    </div>
    <input type="file" name="uploadify" id="uploadify" />
    <p>
        <a href="javascript:$('#uploadify').uploadify('upload')">上传</a>|
        <a href="javascript:$('#uploadify').uploadify('upload','*')">上传全部</a>|
        <a href="javascript:$('#uploadify').uploadify('cancel')">取消上传</a>|
        <a href="javascript:$('#uploadify').uploadify('cancel','*')">取消全部</a>
    </p>
</div>

<div style="margin-top:40px;">
    <h4 style="font-weight:bold">注意点</h4>
    <p>
        后台参数名字一定要用：fileData，在请求中可以看到 Content-Disposition: form-data; name="Filedata"; filename="屏幕截图(9).png"
    </p>
    <p>
        uploadify-cancel.png的路径要修改uploadify.css的内容。
    </p>
    <p>
        中文提示直接修改的 jquery.uploadify.js 里面的内容。
    </p>
</div>

<div>
    <h4 style="font-weight:bold">功能点</h4>
    <p>上传后对图片进行了裁剪</p>
</div>

<div id="lightbox_2">
    <img src="/images/2-1.png" alt="#" class="lightbox-pic" data-role="lightbox" data-source="/images/2-1.png" data-group="group-2" data-id="pic_2_1" data-caption="pic_2_1">
    <img src="/images/2-2.png" alt="#" class="lightbox-pic" data-role="lightbox" data-source="/images/2-2.png" data-group="group-2" data-id="pic_2_2" data-caption="pic_2_2">
    <img src="/images/2-3.png" alt="#" class="lightbox-pic" data-role="lightbox" data-source="/images/2-3.png" data-group="group-2" data-id="pic_2_3" data-caption="pic_2_3">
</div>

<div id="lightbox_mask"></div>
<div id="lightbox_popup">
    <div class="pic-view">
        <img src="/images/1-2.png" alt="#" class="pic">          
    </div>
    <div class="btn-view">
        <a href="#" class="lbtn btn-prev">←</a>
        <a href="#" class="lbtn btn-next">→</a>
        <a href="#" class="lbtn btn-close">×</a>
    </div>
    <div class="caption-view">
        <p>pic1</p>
    </div>
</div>


@section header{
    <link href="~/Scripts/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/lightbox.css" rel="stylesheet" />
}

@section footer{
    <script src="~/Scripts/uploadify/jquery.uploadify.js"></script>
    <script src="~/Scripts/UploadifyDemo.js"></script>
    <script src="~/Scripts/lightbox.js"></script>
}